.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
