.collections {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/BookCollection.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.audioList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.audio {
    margin: 10px 0 10px 0;
}
