@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: black;
    /* background: #000 linear-gradient(180deg,#0000,#213944); */
}

.fadeIn {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
