.upload {
    display: flex;
    height: 600px;
    width: 600px;
    align-items: center;
    justify-content: center; 
    border: 2px solid plum;
}

.upload label{
   color: white;
}

.upload input{
    margin-bottom: 20px;
 }